$sm : 576px;
.mainInfo{
  width: 100%;
  margin-bottom: 10px;
  .cardDiv{
    border-radius: 0 0 15px 15px;
    text-align: center;
    img{
      height: 300px;
    }
    .stickyTitle{
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }
}
.flowInfo{
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  
  .fixedInfo{
    position: sticky;
    // top: calc(100vh - 100% + 80px);
    margin-bottom: 5px;
    // height: calc(100vh - 75px);
    height: auto;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    padding: 10px;
    width: 100%;
    .mapContainer{
      width: 100%;
      margin-top: 15px;
      padding-top: 200%; /* 1:1 Aspect Ratio */
      position: relative; /* If you want text inside of it */
      .occupyMap{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
    
  }
  
  .postWall{
    position: relative;
  }
}
