$sm : 576px;
.mainInfo{
  width: 100%;
  .cardDiv{
    border-radius: 0 0 15px 15px;
    text-align: center;
    img{
      height: 300px;
    }
    .stickyTitle{
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }
}
.flowInfo{
  position: relative;
  max-width: 100%;
  box-sizing: border-box;

  .fixedInfo{
    // position: absolute;
    margin-bottom: 5px;
    min-height: 91vh;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    padding: 10px;
    .occupyMap{
      width: 100%;
      min-height: 400px;
      margin-top: 15px;
    }
    @media screen and (max-width: $sm){
    }
  }
  
  .postWall{
    position: relative;
  }
}
