.followList{
  border-radius: 15px;
  padding: 10px;
  .title{
    width: 100%;
  }
  .listContent{
    width: 100%;
  }
}

.followContent{
  padding: 8px;
  .imageContainer{
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    .centeredDiv{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transform: translate(50%,50%);
      -ms-transform: translate(50%,50%);
      transform: translate(50%,50%);
      .imgTag{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100%;
        height: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }
  }
  .followTitle{

  }
}