.matchCard{
  color: #212121;
  .loser{
    color: #757575;
  }
  svg{
    height: 22px;
  }
  div{
    div{
      div{
        div{
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}